* {
  padding: 0;
  margin: 0;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

body{
  background-color: #F7F7F7;
}

header {
  display: grid;
  grid-template-columns: 18% 25% 25% 25%;
  justify-content: center;
  align-content: center;
  height: 100px;
  padding-left: 2%;
  padding-right: 2%;
  background-color:#000000;
  color:#FFF8DC;
  font-size: 28px;
}

header>div>a{
  color:#FFF8DC;
  text-decoration: none;
}

#logo {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

#service{
  justify-self: center;
}

#log {
  justify-self: end;
}

#center {
  display: grid;
  grid-template-columns: 55% 40%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0 5% 0 10%;
  min-height: 80vh;
}

#information {
  background-color:#DCDCDC;
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-right: 10%;
  padding: 7%;
  justify-self: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#information>h1{
  font-size: 32px;
}

#information>h2{
  font-size: 26px;
}

.info {
  margin-bottom: 5%;
}

img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#hr {
  background-color: #000000;
  height: 2px;
}

#foto {
  align-self: center;
} 

.form_div{
  background-color:#DCDCDC;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-self: center;
  height: 100%;
  text-align: center;
  min-height: 80vh;
}

.form {
  text-align: center;
  align-self: center;
  width: 100%;
  font-size: 24px;
}

.input_reg {
  margin: 2%;
  padding: 2px;
  text-align: center;
  width: 80%;
  height: 40px;
  border: 2px solid;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.main_div {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.service_div{
  margin: 1%;
  border: 2px solid #000000;
}

.service_a{
  display: grid;
  grid-template-columns: 20% 30% 25%;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
}

.service_a:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.service_a:hover{
  box-shadow: 0;;
}

.service_p{
  font-size: 24px;
  align-self: center;
}

.price{
  text-align: end;
  padding: 3%;
}

.service_div_info{
  display: grid;
  grid-template-columns: 25% 50% 20% ;
  justify-content: space-between;
  margin: 2% 5%;
  text-align: center;
}

.service_h1_info {
  text-align: center;
  margin: 1% 5%;
}

.service_div_comments_form {
  margin: 1% 0;
  text-align: center;
}

.comments{
  background-color:#DCDCDC;
  padding: 1% 5%;
  min-height: 80vh;
}

.comment_h2 {
  margin-bottom: 1%;
}

.comment_input {
  width: 70%;
  height: 40px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  margin: 1%;
}

.button_comment{
  width: 20%;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  margin: 1%;
  color: #696969
}

.form_comment_p{
  color:  #696969
}

.main_div_service{
  min-height: 100vh;
}

.div_comment{
  display: grid;
  grid-template-columns: 15% 70% 10%;
  padding: 1% 0 1% 4%;
}

.login_comment {
  color:  #696969
}

.date_comment{
  color:  #696969
}

.admin_href{
  text-decoration: none;
  color: #FFF8DC;
}

.admin_href:hover{
  text-decoration: underline;
}

footer{
  display: grid;
  grid-template-columns: 45% 30%;
  background-color:#000000;
  color:#FFF8DC;
  height: 200px;
  padding: 0 10%;
  justify-content: space-evenly;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.5);
}


@media screen and (max-device-width: 480px){

  #center {
    grid-template-columns: 100%;
    padding: 0 5% 0 5%;
  }

  #foto{
    display: none;
  }

  #information {
    margin-right: 0%;
  }

  .form_div {
    grid-template-columns: 70%;
    grid-template-rows: 30% 30%;
    min-height: 100vh;
  }

  .service_div_info{
    grid-template-columns: 90%;
    justify-content: center;
    margin: 0 2%;
  }

  .service_h1_info {
    text-align: center;
    margin: 5%;
  }

  .service_img_info{
    justify-self: center;
    width: 60%;
    
  }

  .service_p_info{
    font-size: 14px;
   
  }

  .service_a{
    grid-template-columns: 20% 40% 30%;
    
  }

  .div_comment{
    grid-template-columns: 20% 55% 20%;
    padding-left: 5%;
    font-size: 12px;
    margin: 0;
  }

  .comments{
    margin: 0;
    padding: 0;
  }

  .service_div_comments_form {
    margin: 1% 0;
    font-size: 16px;
  }

  .form_comment_p{
    font-size: 10px;
  }
}